<div el-container direction="vertical" class="demo-box" style="height: 100%;">
  <div el-header height="40px" style="background: #B3C0D1">
    <typen-header></typen-header>
  </div>
  <div el-container>
    <div el-aside width="250px" style="background: #D3DCE6">
      <app-sidepanel></app-sidepanel>
    </div>
    <div el-container direction="vertical">
      <div el-main style="background: #E9EEF3">
        <app-typeboard></app-typeboard>
      </div>
      <div height="40px" el-footer style="background: #B3C0D1">
      </div>
    </div>
  </div>
</div>
