.red {
  background: red
}

.blue {
  background: blue
}

.white {
  background: white
}

.black {
  background: black
}

.yellow {
  background: yellow
}

.purple {
  background: purple
}

.pink {
  background: pink
}

.green {
  background: green
}

.orange {
  background: orange
}
